body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Courier New', monospace;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center
}

h1 {
    text-align: center;
}

.contenedor {
    width: 35%;
    height: 100%;
}

.contenedor-forms {
    display: flex;
    justify-content: left;
    height: 50%;
}

.form {
    height: 20%;
}

/* Estilos para la barra de búsqueda */

.busqueda-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

#nombreBusqueda {
    width: 60%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 1px;
    margin-top: 8px;
}

/* Estilos para los botones */
.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: #45a049;
}

.btn-danger {
    background-color: #f44336;
    width: 7.5%;
}

.btn-danger > img {
    width: 100%;
    margin-top: 4px;
}

.btn-danger:hover {
    background-color: #da190b;
}

.btn-add {
    background-color: #3de00b;
    color: black;
}

.btn-add:hover {
    background-color: #2b8a0e;
}


/* Estilos para el contenedor de resultados */
#resultado {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-x: auto; /* Agregamos scroll horizontal si es necesario */
}

#resultado table {
    width: 100%;
    border-collapse: collapse;
}

#resultado th, #resultado td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#resultado th {
    background-color: #575757;
}

h2{
    margin-left: 20px;
}

.eliminar-btn {
    background-color: #a53b37; /* Color del botón */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 20%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
/* Media queries para dispositivos móviles y tabletas */
@media only screen and (max-width: 768px) {
    .contenedor {
        width: 80%;
    }

    .eliminar-btn {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .contenedor {
        width: 100%;
    }

    #nombreBusqueda {
        max-width: none;
        width: 100%;
    }

    .busqueda-container {
        flex-direction: column;
        align-items: stretch;
    }

    .btn {
        width: 100%;
        margin: 4px 0;
    }

    .eliminar-btn {
        margin-left: 0;
    }
}

form {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 50px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.toggle-password {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #4caf50;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
input[type="button"] {
    background-color: #4b4b4b;
    color: #fff;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #353535;
}
input {
display: block;
margin-bottom: 10px;
}
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}