html {
    background-color: #333333;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.menu-curva {
    --size: 3vw; /* Reducido el tamaño */
    --R: calc(var(--size) * 1.28);
    --position: bottom;

    -webkit-mask:
        radial-gradient(var(--R) at left 50% var(--position) calc(1.8 * var(--size)), #000 99%, #0000 101%) 
        left calc(50% - 2 * var(--size)) var(--position) 0 / calc(2 * var(--size)) 100%,
        radial-gradient(var(--R) at left 50% var(--position) calc(-.8 * var(--size)), #0000 99%, #000 101%) 
        left 50% var(--position) var(--size) / calc(4 * var(--size)) 100% repeat-x;
        
    background: #ffffff;  
    height: calc(var(--size) + 5.5vw); /* Reducida la altura */
}

.menu-curva,
h1 {
    margin-bottom: 1vw; /* Reducido el margen inferior */
    padding: 1vw; /* Reducido el padding */
    font-size: 2.5vw; /* Reducido el tamaño de fuente */
    text-align: center;
    color: black;
}

h1 {
    margin-top: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grid-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item a {
    text-decoration: none;
    color: #333333;
}

.grid-item p {
    font-size: 3ex;
}

.grid-item img {
    max-width: 100%;
    height: auto; /* Ajusta la altura según el ancho */
    display: block; /* Elimina espacios en blanco debajo de las imágenes */
    margin: 0 auto; /* Centra las imágenes horizontalmente */
}

/* Estilos responsive */
@media (max-width: 767px) {
    .menu {
        width: 100%; /* Ocupa toda la anchura en pantallas pequeñas */
        height: auto; /* Ajusta la altura automáticamente */
        position: relative; /* Regresa al flujo normal del documento */
    }
}