body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.menu {
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 100vh; /* Hace que el menú ocupe toda la altura de la ventana */
    position: fixed; /* Fija el menú en la posición deseada */
    left: 0; /* Lo coloca en la parte izquierda de la ventana */
    top: 0; /* Lo coloca en la parte superior de la ventana */
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: flex-start; /* Alinea los elementos al inicio */
    width: 200px;
}

.menu h1 {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #4b4b4b;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

img {
    width: 30%;
    border-radius: 100%;
    justify-content: center;
}

/* Estilos responsivos */
@media (max-width: 767px) {
    .menu {
        width: 100%; /* Ocupa toda la anchura en pantallas pequeñas */
        height: auto; /* Ajusta la altura automáticamente */
        position: relative; /* Regresa al flujo normal del documento */
    }
}