<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS Is Fun</title>
    <!-- Enlaza tu archivo CSS aquí -->
    <link rel="stylesheet" href="style_views.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
            document.addEventListener("DOMContentLoaded", function () {
        const botones = document.querySelectorAll('.button-styled');
        
        botones.forEach((boton) => {
            boton.addEventListener('click', () => {
                const direccionIP = boton.innerText.split('\n')[1].trim(); // Extrae la dirección IP del texto del botón
                fetch(`/wake?ip=${direccionIP}`)
                    .then(response => {
                        if (response.ok) {
                            console.log(`Señal WOL enviada correctamente a ${direccionIP}`);
                        } else {
                            console.log(`Error al enviar la señal WOL a ${direccionIP}`);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    });
        // Cambia entre el tema blanco y el negro.
        document.addEventListener("DOMContentLoaded", function() {
            const body = document.body;
            const toggleButton = document.getElementById('toggleButton');

            toggleButton.addEventListener('click', function() {
                body.classList.toggle('white-theme');
            });
        });
        // Pantalla de de carga y bienvida del usuario:
        document.addEventListener("DOMContentLoaded", function() {
        const loadingScreen = document.querySelector('.loading-screen');
        loadingScreen.addEventListener('transitionend', function() {
        // Oculta la pantalla de carga después de la transición
        loadingScreen.style.display = 'none';
        });
        setTimeout(function() {
            loadingScreen.style.opacity = 0;
        }, 2000);
    });

    // Lista de tareas y js dedicado a ello: 
    document.addEventListener("DOMContentLoaded", function() {
    const newTaskInput = document.getElementById('newTaskInput');
    const addTaskButton = document.getElementById('addTaskButton');
    const taskList = document.getElementById('taskList');

    addTaskButton.addEventListener('click', function() {
        const taskText = newTaskInput.value.trim();
        if (taskText !== '') {
            addTask(taskText);
            newTaskInput.value = '';
        }
    });

    function addTask(taskText) {
        const taskItem = document.createElement('li');
        const taskDiv = document.createElement('div');
        const taskTextSpan = document.createElement('span');
        const completeButton = document.createElement('button');
        const deleteButton = document.createElement('button');

        taskTextSpan.textContent = taskText;
        completeButton.textContent = 'Completado';
        deleteButton.textContent = 'Eliminar';

        taskDiv.classList.add('task-item');
        completeButton.classList.add('complete-button');
        deleteButton.classList.add('delete-button');

        taskDiv.appendChild(taskTextSpan);
        taskDiv.appendChild(completeButton);
        taskDiv.appendChild(deleteButton);

        taskItem.appendChild(taskDiv);
        taskList.appendChild(taskItem);

        // Eventos para los botones
        completeButton.addEventListener('click', function() {
            taskDiv.classList.toggle('completed');
        });

        deleteButton.addEventListener('click', function() {
            taskItem.remove();
        });
    }
});
    </script>
</head>
<body class="container">
<header>
</header>
<main>
    <div class="loading-screen">
        <div class="loading-text">¡Bienvenido de nuevo!</div>
    </div>
    <div class="all-box">
        <div class="izq-side-box">
            <input type="button" id="macButton" value="<%= mac %>" onclick="getMacValue()"/>
        </div>
        <div class="der-side-box">
            <button id="toggleButton">Cambiar Tema</button>
            <h1>¡Bienvenido, <%= user %>!</h1>
            <p>El uso de esta web es muy sencillo. A la izquierda tiene un botón que al hacer click encenderá su equipo. Debe recordar que tiene que estar conectado por VPN.</p>
            <div class="task-app">
                <h1>Lista de Tareas</h1>
                <input type="text" id="newTaskInput" placeholder="Nueva tarea...">
                <button id="addTaskButton">Agregar</button>
                <ul id="taskList">
                    <!-- Aquí se agregarán dinámicamente las tareas NO PONER NADA -->
                </ul>
            </div>
        </div>
    </div>

    <!-- Script jQuery para AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#macButton').click(function() {
                var macValue = $('#macButton').val();
                $.post('/runPowerShellScript', { macValue: macValue }, function(response) {
                    // Cuando se complete la solicitud, mostrar el resultado en un alert
                    alert(response);
                }).fail(function() {
                    console.error('Error al ejecutar el script de PowerShell');
                    alert('Error al ejecutar el script de PowerShell');
                });
            });
        });
    </script>
</main>
<footer>
</footer>
</body>
</html>
